# Ignore node_modules directory

node_modules

# Ignore logs

\*.log

# Ignore environment variables

.env

# Ignore test and coverage files

test
coverage

# Ignore IDE and OS specific files

.vscode
.DS_Store
Thumbs.db

# Ignore other unnecessary files

README.md
